{% extends 'manba.html' %} {% load static %} {% block css %}
<!-- Custom styles for this page -->
<link rel="stylesheet" href="{% static 'yangi/css/style.css' %}">
<link rel="stylesheet" href="{% static 'yangi/css/bootstrap-select.css' %}">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/css/select2.min.css'>
<link href="{% static 'yangi/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'multiple-select/style.css' %}"> {% endblock css %} {% block guruhlar %}

<li>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#royxatga-olishModal"><img style="width: 20px; height: 20px;" src="{% static 'yangi/img/plus.png' %}"> Qo'shish</button>
</li>
{% endblock guruhlar %} {% block content %}


<!-- Modal -->
<div class="modal fade" id="royxatga-olishModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel" style="color: black">Ro'yxatga olish</h4>
                <button type="button" style="outline: none;" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>

            <form method="post" action="{% url 'royxat-olish-form' %}">
                {% csrf_token %}
                <div class="modal-body py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 py-2 text-center">
                                <input name="ism" style="width: 300px; border-radius: 10px; padding: 8px; border: 1px solid black; outline: none;" type="text" placeholder="Ism-Familya" required>
                            </div>
                            <div class="col-12 py-2 text-center">
                                <input name="manzil" style="width: 300px; border-radius: 10px; padding: 8px; border: 1px solid black; outline: none;" type="text" placeholder="Manzil" required>
                            </div>
                            <div class="col-12 py-2 text-center">
                                <input name="telefon" style="width: 300px; border-radius: 10px; padding: 8px; border: 1px solid black; outline: none;" type="text" placeholder="Telefon" required>
                            </div>
                            <div class="col-12 py-2 text-center">
                                <select name="fan" id="fan" style="width: 300px; border-radius: 10px; padding: 8px; border: 1px solid black; outline: none;" type="text" placeholder="Fan nomi" class="js-example-placeholder-multiple" multiple="multiple" required>
                                    
                                    {% for fan in fanlar %}
                                    <option value="{{ fan.id }}">{{ fan.darsnomi }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 py-2 text-center">
                                <input name="qayerdan_keldi" style="width: 300px; border-radius: 10px; padding: 8px; border: 1px solid black; outline: none;" type="text" placeholder="Qayerdan eshitdi">
                            </div>

                            <div class="col-lg-12 col-md-12 py-3">
                                <span style="color: black">Kim taklif qildi</span>
                                <select style="width: 70%; border-radius: 43px; height: 61px;" class="selectpicker" list="browsers" name="taklif" name="browser" data-live-search="true" id="browser">
                                    <optgroup label="O'quvchilar">
                                    <option></option>
                                    {% for talaba in talabalar %}
                                    <option value="{{ talaba.id }}">{{ talaba.ism_familya }}</option>
                                    {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-lg-12 col-md-12 py-3">
                                <span style="color: black; text-align: center;">Bir oila</span>
                                <select style="width: 70%; border-radius: 43px; height: 61px;" class="selectpicker" list="browsers" name="bir_oila"  data-live-search="true" id="browser">
                                    <optgroup label="O'quvchilar">
                                    <option></option>
                                    {% for talaba in talabalar %}
                                    <option value="{{ talaba.id }}">{{ talaba.ism_familya }}</option>
                                    {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary">Qo'shish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div id="card" class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Kutayotganlar ro'yhati</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>T</th>
                            <th>Ism-Familya</th>
                            <th>Fan</th>
                            <th>Tel Nomeri</th>
                            <th>Manzil</th>
                            <th>Kim taklif qildi</th>
                            <th>Qayerdan keldi</th>
                            <th>Sana</th>
                            <th>Guruhga qo'shish</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for kutayotgan in kutayotganlar %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ kutayotgan.ism_familya }}</td>
                            <style>

                            </style>
                            <td style="color: white;">{% for fan in kutayotgan.dars.all %}<span  id="fan-rang" style="background-color: {{fan.rang}}; ">{{ fan.darsnomi }}</span><br>{% endfor %}</td>
                            <td>{{ kutayotgan.telefon }}</td>
                            <td>{{ kutayotgan.manzil }}</td>
                            <td class="text-center">{% if kutayotgan.taklif.ism_familya %} {{ kutayotgan.taklif.ism_familya }}{% else %}─{% endif %}</td>
                            <td style="text-align: center;">{{ kutayotgan.qayerdan_keldi }}</td>
                            <td>{{ kutayotgan.sana }}</td>
                            <td class="text-center"><i type="button" data-toggle="modal" data-target="#exampleModal{{ kutayotgan.id }}" class="fas fa-plus-circle"></i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        {% for kutayotgan in kutayotganlar %}
        <div class="modal fade" id="exampleModal{{ kutayotgan.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: black">O'quvchilarga qo'shish</h5>
                        <button type="button" style="outline: none;" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                    </div>
                    <form action="{% url 'kutayotganlar' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body py-5">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 py-2 text-center">
                                    <label>Guruh</label>
                                        <select style="width: 300px; border-radius: 10px; padding: 8px; border: 1px solid black; outline: none;" class="font py-2" name="guruh" id="browser">
                                            {% for guruh in guruhlar %}
                                            <option value="{{ guruh.id }}">{{ guruh.nomi }}</option>
                                            {% endfor %}
                                        </select>
                                        <br><br><label>Filyal</label>
                                        <select style="width: 300px; border-radius: 10px; padding: 8px; border: 1px solid black; outline: none;" class="font py-2" name="filyal" id="browser">
                                            {% for filyal in filyallar %}
                                            <option value="{{ filyal.id }}">{{ filyal.nomi }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% for fan in kutayotgan.dars.all %}
                                    <input type="hidden" value="{{ fan.id }}" name="fan_id">
                                    {% endfor %}
                                    <input type="hidden" value="{{ kutayotgan.id }}" name="kutayotgan_id">
                                    <input name="ism" type="hidden" value="{{ kutayotgan.ism_familya }}">
                                    <input name="tel" type="hidden" value="{{ kutayotgan.telefon }}">
                                    <input name="qayerdan_keldi" type="hidden" value="{{ kutayotgan.qayerdan_keldi }}">
                                    <input name="manzil" type="hidden" value="{{ kutayotgan.manzil }}">
                                    <input name="taklif" type="hidden" value="{{ kutayotgan.taklif.id }}">
                                    <input name="bir_oila" type="hidden" value="{{ kutayotgan.bir_oila.id}}">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-primary">Qo'shish</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="exampleModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ro'yxatga olindi</h5>
            </div>
            <div class="modal-body">

                <ul class="messages">
                    {% for message in messages %}
                    <li style="color: black" class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>

            </div>
            <div class="modal-footer">
                <a href="{% url 'kutayotganlar' %}"><button type="button" class="btn btn-secondary" >Yopish</button></a>

            </div>
        </div>
    </div>
</div>



{% endblock content %} {% block js %}
<!-- Page level plugins -->
<script src="{% static 'yangi/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'yangi/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'yangi/js/demo/datatables-demo.js' %}"></script>
<script src="{% static 'yangi/js/bootstrap-select.js' %}"></script>
<script src="{% static 'yangi/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'multiple-select/script.js' %}"></script>
{% if messages %}
<script>
    $(document).ready(function() {
        $('#exampleModal').modal({
            show: true
        });
    });
</script>
{% endif %} {% endblock js %}