{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>O'quv markaz</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'yangi/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->

    <!-- Custom styles for this template-->

    <link href="{% static 'yangi/css/sb-admin-2.min.css' %}" rel="stylesheet"> {% block css %} {% endblock css %}


</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand container-fluid text-center">
                <div class="row">
                    <div class="col-lg-2 col-md-12 w-100">
                        <img style="height: 40px; width: 42px;" src="{% static 'yangi/img/icon/hamma.png' %}" alt="">
                    </div>
                    <div class="col-lg-10 col-md-12">
                        <div style="font-size: 16px;" class="sidebar-brand-text mx-3">{{ user.username }}</div><br>
                        <p style="font-size: 12px;">O'quv markaz</p>
                    </div>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider mt-5 my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link collapsed">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>CRM</span>
                </a>
            </li>

            <li style="margin-left: 20px; margin-top: -15px" class="nav-item {{active_dash}}">
                <a class="nav-link collapsed" href="{%  url 'admin-dash' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li style="margin-left: 20px;" class="nav-item {{active_lead}}">
                <a class="nav-link collapsed" href="{%  url 'admin-murojatlar' %}">
                    <i class="fas fa-user-friends"></i>
                    <span>Leads</span>
                </a>
            </li>
            <li style="margin-left: 20px;" class="nav-item {{promotor_active}}">
                <a class="nav-link collapsed" href="{%  url 'promotorlar' %}">
                    <i class="fas fa-user-friends"></i>
                    <span>Promotorlar</span>
                </a>
            </li>
            <!-- <li class="nav-item {{active_royxatga_olish}}">
                <a class="nav-link collapsed" href="{%  url 'royxat-olish-form' %}">
                    <i class="fas fa-comment-dots"></i>
                    <span>Ro'yxatga olish</span>
                </a>
            </li> -->
            <li class="nav-item {{kutayotganlar_active}}">
                <a class="nav-link collapsed" href="{% url 'kutayotganlar' %}">
                    <i class="fas fa-user-friends"></i>
                    <span>Kutayotganlar</span>
                </a>
            </li>
            <li class="nav-item {{talabalar_active}}">
                <a class="nav-link collapsed" href="{% url 'talabalar' %}">
                    <i class="fas fa-user-friends"></i>
                    <span>Barcha o'quvchilar</span>
                </a>
            </li>

            <li class="nav-item {{tolov_active}}">
                <a class="nav-link collapsed" href="{% url 'tolov-kiritish' %}">
                    <i class="far fa-credit-card"></i>
                    <span>To'lov qilish</span>
                </a>
            </li>

            <li class="nav-item {{tolovlar_active}}">
                <a class="nav-link collapsed" href="{% url 'tolovlar' %}">
                    <i class="fas fa-briefcase"></i>
                    <span>Barcha to'lovlar</span>
                </a>
            </li>

            <li class="nav-item {{oqituvchiqosh_active}}">
                <a class="nav-link collapsed" href="{% url 'oqituvchi-qoshish' %}">
                    <i class="fas fa-user-plus"></i>
                    <span>O'qituvchilar</span>
                </a>
            </li>

            <li class="nav-item {{guruhlar_active}}">
                <a class="nav-link collapsed" href="{% url 'guruhlar' %}">
                    <i class="fas fa-users"></i>
                    <span>Guruhlar</span>
                </a>
            </li>
            <li class="nav-item {{bonus_olgan_active}}">
                <a class="nav-link collapsed" href="{% url 'bonus-olganlar' %}">
                    <i class="fas fa-users"></i>
                    <span>Bonus olaldi</span>
                </a>
            </li>
            <li class="nav-item {{hisobot_active}}">
                <a class="nav-link collapsed" href="{% url 'hisobot' %}">
                    <i class="fas fa-users"></i>
                    <span>Hisobotlar</span>
                </a>
            </li>
            <li class="nav-item {{kitob_olgan_active}}">
                <a class="nav-link collapsed" href="{% url 'kitob_olganlar' %}">
                    <i class="fas fa-users"></i>
                    <span>Kitop olganlar</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        {% block guruhlar %}{% endblock guruhlar %}


                        <li class="nav-item dropdown no-arrow mx-1 mt-3">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>

                            </a>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- End of Sidebar -->
                {% block content %} {% endblock content %}

            </div>
            <!-- End of Content Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Admin paneldan chiqmoqchimisiz?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">yo'q</button>
                            <a class="btn btn-primary" href="{% url 'chiqish' %}">chiqish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'yangi/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'yangi/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'yangi/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'yangi/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'yangi/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'yangi/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'yangi/js/demo/chart-pie-demo.js' %}"></script>
    <!-- <script src="{% static 'script.js' %}"></script> -->
    {% block js %} {% endblock js %}

</body>

</html>